.shop {
  display: flex;
}

.products-container {
  width: 75%;
  margin: 50px 0;
  display: grid;
  gap: 50px 0;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.cart-container {
  width: 25%;
  padding: 20px;
  border-left: 1px solid black;
}
